body {
    background-color: aqua;
}

#h1teste {
    color: blueviolet;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
 }

 
 .batata{
    color: yellow;
    font-size: 80px;
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif; 
 }

 #doces{
     background-color: brown;
     color: blanchedalmond;
 }

 #salgados{
     background-color: bisque;
 }

 footer {
     background-color: #FFAAFF;
     text-align: center;
     margin: 2px;
     padding: 5px;
     border: #000000 5px solid ;
 }