body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s;
}

audio {
    position: absolute;
    top: 20px;
    left: 20px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}

button:hover {
    background-color: #555;
}

#rave-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}

#rave-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}